<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>About Menus...</h1>
        
        <div class="jumbotron">
          <h2 class="display-4">동측</h2>
            <p class="lead"> [Set menu] </p>
                <ul>
                    <li>잡곡밥</li>
                    <li>물만둣국</li>
                    <li>미트볼칠리볶음(자율배식)</li>
                    <li>돈육잡채</li>
                    <li>브로컬리숙회</li>
                    <li>배추김치</li>
                </ul>
          <hr class="my-4">
          <p>만약 이 메뉴가 좋다면 like를 눌러주세요!</p>
            <button><i class="far fa-heart"></i> 0</button>

            <script>
              document.addEventListener('DOMContentLoaded', function () {
                $('button').on('click', function () {
                  $(this)
                    .find('[data-fa-i2svg]')
                    .toggleClass('fas fa-heart')
                    .toggleClass('far fa-heart');
                });
              });
            </script>
<script>
  FontAwesomeConfig = { autoReplaceSvg: 'nest' }
</script>
<i class="my-icon fas fa-coffee" data-fa-mask="fas fa-circle"></i>
<i class="my-icon" data-fa-mask="fas fa-circle" data-fa-i2svg="">
  <svg class="svg-inline--fa fa-coffee fa-w-16" data-fa-mask="fas fa-circle" aria-hidden="true" data-fa-i2svg="" data-prefix="fas" data-icon="coffee" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">...</svg>
</i>

  
        </div>

        <div class="jumbotron">
          <h2 class="display-4">동측</h2>
            <p class="lead"> [Chef choice] </p>
                <ul> T/O 치킨 </ul>
          <hr class="my-4">
          <p>만약 이 메뉴가 좋다면 like를 눌러주세요!</p>
             <div style="font-size:3em; color:Pink">
              <i class="far fa-heart" role="button"> 0</i>
             </div>
        </div>

        <div class="jumbotron">
          <h2 class="display-4">동측</h2>
            <p class="lead"> [Hot Bowl] </p>
                <ul> 치킨마요덮밥, 4000원 </ul>
          <hr class="my-4">
          <p>만약 이 메뉴가 좋다면 like를 눌러주세요!</p>
             <div style="font-size:3em; color:Pink">
              <i class="far fa-heart" role="button"> 0</i>
             </div>
        </div>

        <div class="jumbotron">
          <h2 class="display-4">동측</h2>
            <p class="lead"> [Noodle/International] </p>
                <ul> 고기짬뽕, 4000원 </ul>
          <hr class="my-4">
          <p>만약 이 메뉴가 좋다면 like를 눌러주세요!</p>
             <div style="font-size:3em; color:Pink">
              <i class="far fa-heart" role="button"> 0</i>
             </div>
        </div>

        <div class="jumbotron">
          <h2 class="display-4">동측</h2>
            <p class="lead"> [Take out] </p>
                <ul> 제육김치컵밥/스팸김치컵밥/건강식샐러드 </ul>
          <hr class="my-4">
          <p>만약 이 메뉴가 좋다면 like를 눌러주세요!</p>
             <div style="font-size:3em; color:Pink">
              <i class="far fa-heart" role="button"> 0</i>
             </div>
        </div>

        <div class="jumbotron">
          <h2 class="display-4">서측</h2>
            <p class="lead"> 한식 </p>
                <ul>
                    <li> 쌀밥 </li>
                    <li> 아욱된장국 </li>
                    <li> 버섯제육볶음 </li>
                    <li> 시래기떡볶이 </li>
                    <li> 시금치겉절이 </li>
                    <li> 포기김치 </li>
                </ul>
          <hr class="my-4">
          <p>만약 이 메뉴가 좋다면 like를 눌러주세요!</p>
             <div style="font-size:3em; color:Pink">
              <i class="far fa-heart" role="button"> 0</i>
             </div>
        </div>

        <div class="jumbotron">
          <h2 class="display-4">서측</h2>
            <p class="lead"> 한식 </p>
                <ul>
                    <li> 날치알김치볶음밥 </li>
                    <li> 아욱된장국 </li>
                    <li> 콩나물무침 </li>
                    <li> 케이준치킨샐러드 </li>
                    <li> 깍두기 </li>
                </ul>
          <hr class="my-4">
          <p>만약 이 메뉴가 좋다면 like를 눌러주세요!</p>
             <div style="font-size:3em; color:Pink">
              <i class="far fa-heart" role="button"> 0</i>
             </div>
        </div>

        <div class="jumbotron">
          <h2 class="display-4">카마</h2>
            <p class="lead"> 카페테리아 </p>
                <ul>
                    <li> 쌀밥 & 잡곡밥 </li>
                    <li> 얼갈이배추된장국 </li>
                    <li> 닭살마늘종볶음 </li>
                    <li> 스테이크파프리카볶음 </li>
                    <li> 계란찜 </li>
                    <li> 볼어묵브로콜리볶음 </li>
                    <li> 동태무조림 </li>
                    <li> 오이무침 </li>
                    <li> 고추지무침 </li>
                    <li> 도시락김 </li>
                    <li> 김치 </li>
                    <li> 양배추샐러드 </li>
                    <li> 황도 </li>
                </ul>
          <hr class="my-4">
          <p>만약 이 메뉴가 좋다면 like를 눌러주세요!</p>
             <div style="font-size:3em; color:Pink">
              <i class="far fa-heart" role="button"> 0</i>
             </div>
        </div>

        <div class="jumbotron">
          <h2 class="display-4">카마</h2>
            <p class="lead"> 일품 </p>
                <ul> 돈육김치볶음밥 & 계란후라이 & 우동국물 </ul>
          <hr class="my-4">
          <p>만약 이 메뉴가 좋다면 like를 눌러주세요!</p>
             <div style="font-size:3em; color:Pink">
              <i class="far fa-heart" role="button"> 0</i>
             </div>
        </div>

    </div>
  </body>
</html>
