<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h2>What is it?</h2>
        <P> 이 신입생 프로젝트는 학기 중 점심시간에 항상 사람이 많아서 힘들었던 것을 떠올리며 만든 프로젝트입니다.
            원래 취지는 각 식당마다 사람이 얼마나 있는지 알아내서 각 식당에 사람이 얼마나 있는지 알아내는 것이었습니다.
            현실은 밥대생 + 페북?이 되버려서 카이스트 학식 메뉴 인기투표가 되어버렸지만...하핳</p>
      </div>
    </div>
  </body>
</html>
